.intro_main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.intro_content_container {
    z-index: 10;
    margin-top: 5vh;
}

.intro_content_container h1 {
    font-weight: 700;
    line-height: 30px;
    font-size: 80px;
}

.intro_content_container h1 span {
    border-bottom: 8px solid #4CE19E;
}

.intro_desc {
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    color: rgb(217, 217, 217);
    width: 420px;
    margin-top: 10vh;
}

.intro_btn {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 1vh;
    border-bottom: 4px solid #4CE19E;
    width: 105px;
    text-align: center;
    margin-top: 8vh;
}

.intro_btn:hover {
    color: #4CE19E;
    cursor: pointer;
}

.profile_pic {
    position: absolute;
    top: -22%;
    /* left: 0px; */
    right: 0px;

    width: 39%;
    height: 140%;
    background-image: url('../../assets/ProfileDesktop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.circle_pic {
    position: absolute;
    left: 55%;
    top: 85%;
}

@media screen and (max-width: 1050px) {
    .circle_pic {
        left: 54%;
    }

    .intro_content_container h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 900px) {
    .circle_pic {
        left: 52%;
    }

    .intro_content_container h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    .intro_main_container {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .profile_pic {
        right: -2.6%;
        top: -22%;

        width: 45%;
        height: 120%;
        background-image: url('../../assets/ProfileTablet.png');

    }

    .circle_pic {
        left: 95%;
        top: 75%;
        width: 14%;
    }

    .intro_content_container h1 {
        font-size: 50px;
    }

    .intro_desc {
        width: 400px;
    }
}

@media screen and (max-width: 560px) {

    .intro_main_container {
        flex-direction: column-reverse;
    }

    .profile_pic {
        right: 20.5%;
        top: -5.5%;

        width: 60%;
        height: 55vh;
        background-image: url('../../assets/ProfileTablet.png');
    }

    .circle_pic {
        left: 89%;
        top: 32%;
        width: auto;
    }

    .intro_content_container {
        text-align: center;
        margin-top: 52vh;
    }

    .intro_desc {
        margin-top: 3vh;
    }

    .btn_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .intro_btn {
        margin-top: 3vh;
    }
}

@media screen and (max-width: 375px) {
    .profile_pic {
        right: 15%;
        top: -5.5%;

        width: 70%;
        height: 55vh;
        background-image: url('../../assets/ProfileTablet.png');
    }

    .circle_pic {
        left: 90%;
        top: 30%;
        width: 25%;
    }

    .intro_content_container h1 {
        font-size: 38px;
    }

    .intro_desc {
        width: 95%;
    }
}