.main_container {
  display: flex;
  justify-content: center;
}

.sub_container {
  width: 60%;
}

.rings {
  position: absolute;
  left: 150px;
  top: 130px;
}

.rings2 {
  position: absolute;
  right: -10%;
  top: 125%;
}

.horizontal_line {
  margin-top: 20vh;
}

.horizontal_line1 {
  margin-top: 10vh;
  margin-bottom: 2.5vh;
}

.horizontal_lin2 {
  display: none;
}

.contact_me_main_container {
  background-color: #242424;
  display: flex;
  justify-content: center;
  position: relative;
}

.contact_me_sub_container {
  width: 60%;
}

.rings1 {
  position: absolute;
  left: -300px;
  top: 410px;
}

@media screen and (max-width: 1550px) {
  .sub_container {
    width: 80%;
  }

  .contact_me_sub_container {
    width: 80%;
  }
}

@media screen and (max-width: 1490px) {
  .rings2 {
    right: -15%;
  }
}

@media screen and (max-width: 1050px) {
  .sub_container {
    width: 90%;
  }

  .contact_me_sub_container {
    width: 90%;
  }
}



@media screen and (max-width: 768px) {
  .sub_container {
    width: 100%;
    overflow-x: hidden;
  }

  .contact_me_sub_container {
    width: 100%;
    overflow-x: hidden;
  }

  .horizontal_line {
    margin-top: 10%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .horizontal_line1 {
    /* margin-top: 10%; */
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .rings {
    left: -40%;
    top: 100px;
  }
}

@media screen and (max-width: 560px) {
  .rings {
    left: -50%;
  }

  .rings2 {
    right: -30%;
    top: 200%;
  }
}

@media screen and (max-width: 717px) {
  .horizontal_lin2 {
    display: block;
    margin-top: 5vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}