.name_icons_main_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Space Grotesk';
}

.name_icons_main_container p {
    font-size: 32px;
    font-weight: 700;
    line-height: 42.56px;
}

.icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    z-index: 10;
    margin-right: 1.5vw;
}

.no_margin {
    margin-right: 0px;
}

.icon_container img {
    cursor: pointer;
}

.margin_bottom {
    margin-bottom: 7vh;
}

@media screen and (max-width: 768px) {
    .name_icons_main_container {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .icon_container {
        margin-right: 0px;
    }
}

@media screen and (max-width: 560px) {
    .name_icons_main_container {
        flex-direction: column;
    }
}